body {
  margin: 0;
  padding: 0;
}

#map {
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

/* For the close button in the Info box. */
#close {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  float: right;
}
#close:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: all 0.6s ease-in-out;
}

/* For the Info box. */
#information {
  font-size: 13px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 10px DimGray;
  color: #111;
  z-index: 7;
  line-height: 150%;
  padding: 10px;
  border-radius: 10px;
}

h1 {
  font-size: 14pt;
}

a {
  color: #0078a8;
}

/* legend */
.legendRow {
  display: table-cell;
  max-height: 15px;
  position: relative;
  top: -3px;
}
.firstCell {
  display: table-cell;
  width: 15px;
  border-radius: 5px;
  border: solid 1px #cdcdcddd;
  margin-right: 5px;
}
.secondCell {
  display: table-cell;
  padding-left: 5px;
}
.thirdCell {
  display: table-cell;
  padding-left: 10px;
}

/* marker properties */
.marker {
  border-radius: 40% 5%;
  border-style: solid;
  border-width: 2px;
  padding: 2px;
  box-shadow: 4px 4px 4px DimGray;
}
.marker:hover {
  border-color: NavajoWhite;
  padding: 3px;
}

/* categorie properties */
.vegan_only {
  background: #005500;
  border-color: #117722;
}
.vegetarian_only {
  background: #118811;
  border-color: #118811;
}
.vegan_friendly {
  background: #00BC00;
  border-color: #00BC00;
}
.vegan_limited {
  background: #AAFFAA;
  border-color: SeaGreen;
}
.vegetarian_friendly {
  background: #fefefe;
  border-color: DarkGreen;
}

/* Adjust the size of the layer button to the other buttons. */
.leaflet-control-layers-toggle {
  width: 26px !important;
  height: 26px !important;
  background-size: 80%;
}
.leaflet-touch .leaflet-control-layers-toggle {
  width: 30px !important;
  height: 30px !important;
}

/* Emojis and content in the popup in one line */
.popupflex-container {
  display: flex;
  flex-wrap: nowrap;
}
.popupflex-container > div {
  min-width: 2em;
  padding-bottom: 7px;
}
